@import "1-normalize.css";
@import "2-typescale.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 243, 225);
}

.body-wrap {
  margin: 125px 125px 0 125px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.bio-work-wrap {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.contact-wrap {
  display: flex;
  justify-content: flex-end;
}

.bio,
.work,
.contact {
  position: relative;
}

.nav a {
  height: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  line-height: 1.2;
}
 

