@import "1-normalize.css";
@import "2-typescale.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 242, 219);
}

.body-wrap {
  margin: 125px 125px 0 125px;
}

header {
  overflow: hidden;
}

.nav {
  display: flex;
  line-height: 1;
  justify-content: space-between;
  transform: translateY(100%);
}

.bio-work-wrap {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.contact-wrap {
  display: flex;
  justify-content: flex-end;
}

.bio,
.work,
.contact {
  position: relative;
  overflow: hidden;
}

.nav a:hover::before,
.nav a:focus::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav a {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  line-height: 100%;
  display: inline-block;
  transform-origin: top;
}
 

.nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: black;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 500ms ease-out;
}


.nav a:focus {
  cursor: default;
  outline: none;
}

.headline-wrap {
  width: 100%;
  text-align: right;
}

.headline-wrap h1 {
  position: relative;
  overflow: hidden;
  line-height: .76;
  margin: 120px 0 0 0;
}

span.up {
  position: relative;
  display: inline-block;
  right: 7px;
  transform: translate(0, 100%);
}

.bottom-l,
.bottom-r {
  display: inline-block;
  width: 25%;
  height: 300px;
}

.bottom-r {
  float: right;
}

.bottom-r .fullname {
  text-align: right;
  margin: 2rem 0;
  padding: 0;
}

.bottom-r .blurb {
  text-align: right;
  padding: 0;
  margin: 0;
}

.bottom-r span {
  display: inline-block;
  line-height: 1.5;
}

.sub-name-wrap {
  overflow: hidden;
  background-color: pink;
  
}

.sub-name {
  display: inline-block;
  transform: translate(0, 100%);
}

.bottom-l {
  float: left;
  background-color: pink;
  text-align:left;
  position: relative;
}

.bottom-l h4{
  position: relative;
  top: 61%;
  line-height: 1.1;
  padding: 0;
  margin: 0;
}

.span-wrap {
  overflow: hidden;
}

.span-wrap .span1,
.span-wrap .span2,
.span-wrap .span3 {
  display: inline-block;
  transform: translateY(100%);
}

.arrow {
  width: 100%;
  text-align: center;
  margin: 25% 0 0 0;
}

@keyframes slide{
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .first-name {
    font-size: 7rem;

  }
  .last-name {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 834px) {
  .headline-wrap {
    text-align: right;
  }
  .first-name {
    font-size: 5rem;

  }
  .last-name {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 660px) {
  .headline-wrap {
    text-align: right;
  }
  .first-name {
    font-size: 3.2rem;

  }
  .last-name {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .headline-wrap {
    text-align: right;
  }
  .first-name {
    font-size: 3rem;

  }
  .last-name {
    font-size: 3rem;
  }
}