@import "1-normalize.css";
@import "2-typescale.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 242, 219);
}

.body-wrap {
  margin: 125px 125px 0 125px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.bio-work-wrap {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.contact-wrap {
  display: flex;
  justify-content: flex-end;
}

.bio,
.work,
.contact {
  position: relative;
}

.nav a {
  height: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  line-height: 1.2;
}
 

.nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: black;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 500ms ease-out;
}

.nav a:hover::before,
.nav a:focus::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav a.active {
  cursor: default;
}

.headline-wrap {
  width: 100%;
  text-align: right;
}

.headline-wrap h1 {
  line-height: .76;
  margin: 120px 0 0 0;
}

.bottom-l,
.bottom-r {
  display: inline-block;
  width: 25%;
  height: 300px;
}

.bottom-r {
  float: right;
}

.bottom-r div {
  text-align: right;
}

.bottom-r span {
  display: block;
  line-height: 1.5;
}

.bottom-l {
  float: left;
}

.bottom-l h4{
  position: relative;
  top: 105px;
}

.arrow {
  width: 100%;
  text-align: center;
  margin: 25% 0 0 0;
}

@media only screen and (max-width: 1200px) {
  .first-name {
    font-size: 7rem;

  }
  .last-name {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 834px) {
  .headline-wrap {
    text-align: right;
  }
  .first-name {
    font-size: 5rem;

  }
  .last-name {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 660px) {
  .headline-wrap {
    text-align: right;
  }
  .first-name {
    font-size: 3.2rem;

  }
  .last-name {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .headline-wrap {
    text-align: right;
  }
  .first-name {
    font-size: 3rem;

  }
  .last-name {
    font-size: 3rem;
  }
}